.container {
    background-color: #03050F;
    display: flex;
    align-items: center;
    justify-content: space-between;

    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1184px;
    z-index: 10;
}

.footer_left {}

.footer_right {}