.login {
    // position: relative;
    padding: 7rem 0 6rem;
    display: grid;
    place-items: center;
    min-height: calc(100vh - 106px);
    background-color: var(--gray10);
    overflow: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: flex;
    align-items: center;

    position: relative;
    width: 100%;
    // height: 100%;
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1184px;
    z-index: 10;
}

.login_left {
    width: 100%;
    max-width: 480px;
    border-radius: 20px;
    overflow: hidden;
}

.login_right {
    width: 100%;
    max-width: 352px;
    margin-left: 128px;
}

.blurasset {
    top: 0;
    right: 0;
    position: absolute;
}

.blurasset1 {
    top: 0;
    right: 0;
    position: absolute;
}

.blurassetleft {
    position: absolute;
    bottom: 0;
    left: 0;
}

.blurassetleft2 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.tag_promo {
    display: inline-block;
    padding: 4px 8px;
    border-radius: 4px;
    font-family: var(--br-sonoma-bold), sans-serif;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .4px;
    background: linear-gradient(90deg, #00F4E2 0%, #00FF7F 100%);
    color: var(--gray1);
}

.info_title {
    font-family: 'BR Sonoma';
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;
    color: var(--gray1);
}

.info_subtitle {
    font-family: 'BR Sonoma';
    font-weight: medium;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.2px;
    margin-top: 8px;
}

.login_middle {
    width: 100%;
    height: 1px;
    background-color: var(--gray30);
    margin-top: 6px;
}

.portada_mobile {
    display: none;
}



@media (max-width: 767.9375px) {
    .container {
        align-items: initial;
        padding: 0 24px;
    }

    .blurasset {
        display: none !important;
    }

    .blurassetleft {
        display: none !important;
    }

    .login_left {
        display: none !important;
    }

    .login_right {
        // margin-left: 0;
        // max-width: 100%;
        margin-left: 70px;
    }

    .info_subtitle {
        display: none !important;
    }

    .login_middle {
        display: none !important;
    }

    .portada_mobile {
        display: contents;
        min-width: 136px;
        border-radius: 20px;
        overflow: hidden;
    }
}

@media (min-width: 768px) {
    .blurasset1 {
        display: none !important;
    }

    .blurassetleft2 {
        display: none !important;
    }
}