.wrapper_header {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
}

.logo {
    font-size: 1.5rem;
}

.header {
    padding: 1rem;
    padding: 2px 120px;
    /* top right bottom left */
    height: 64px;
    display: flex;
    justify-content: space-between;
}

.title_header {
    font-family: br-sonoma-medium, sans-serif;
    // font-family: BR Sonoma;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: right;
    letter-spacing: .2px;
    cursor: pointer;
    margin-right: 23px;
}

.text_title_button {
    font-family: 'BR Sonoma';
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: right;
}

.container_button_title {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrap_phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    color: inherit;
}