.header_login {
    background-color: transparent;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 11;
}

.header {
    background-color: inherit;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 56px;
}

.logo {
    font-size: 1.5rem;
}

.buttoncontainer {
    margin-right: 10px;
    line-height: 1rem;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
    letter-spacing: .2px;
    cursor: pointer;
    -webkit-appearance: button;
    background-color: transparent;
    background-image: none;
}


.title_header {
    font-family: br-sonoma-medium, sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    text-align: right;
    letter-spacing: .2px;
    cursor: pointer;
    margin-right: 23px;
}

.header_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.wrap_phone {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    color: inherit;
}


.text_title_button {
    font-family: 'BR Sonoma';
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0.4px;
    text-align: right;
}